
<footer class="footer">

  <!-- LEFT SIDE -->
  <div class="footer-left">
    <span>© 2026 Airbnb, Inc.</span>
    <span>·</span>
    <a href="#">Privacy</a>
    <span>·</span>
    <a href="#">Terms</a>
    <span>·</span>
    <a href="https://www.airbnb.co.in/about/company-details">Company details</a>
  </div>

  <!-- RIGHT SIDE -->
  <div class="footer-right">

    <!-- Globe + Language -->
    <div class="footer-item">
      <i class="fa-solid fa-globe"></i>
      <span>English (IN)</span>
    </div>

    <!-- Currency -->
    <div class="footer-item">
      <span>₹ INR</span>
    </div>

    <!-- Social Icons -->
    <div class="footer-social">

      <a href="https://www.facebook.com/jm382118" target="_blank">
        <i class="fa-brands fa-facebook"></i>
      </a>

      <a href="https://www.instagram.com/jm382118/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>

      <a href="https://www.linkedin.com/in/jm1904/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>

      <a href="https://x.com/jm382118" target="_blank">
        <i class="fa-brands fa-x-twitter"></i>
      </a>

    </div>

  </div>

</footer>