<!-- -------------------------------------------------------------------------------------------------
    -->
<% layout("layouts/boilerplates") %>

  <div class="add-wrapper">
    <div class="add-box">

      <div class="add-header">
        <h2>➕ Add New Listing</h2>
        <p>Enter your property details below</p>
      </div>

      <form action="/listings" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">

        <div class="form-group">
          <label>Title 🏠</label>
          <input required name="listing[title]" type="text" class="form-control" placeholder="Enter title">
          <div class="valid-feedback">
            Title looks perfect 👍
          </div>
          <div class="invalid-feedback">
            Please enter a valid property title.
          </div>
        </div>

        <div class="form-group">
          <label>Description 📝</label>
          <textarea required name="listing[description]" class="form-control"
            placeholder="Enter description"></textarea>
          <div class="valid-feedback">
            Description added successfully ✅
          </div>
          <div class="invalid-feedback">
            Description must be at least 10 characters.
          </div>
        </div>



        <!-- <form action="/listings" method="POST" enctype="multipart/form-data"> -->

        <div class="form-group">
          <label>Upload Listings Image 🖼️</label>
          <input name="listingImage" type="file" class="form-control"
            accept="image/png, image/jpeg, image/jpg, image/webp" required>
        </div>

        <!-- <button type="submit">Submit</button> -->
        <!-- </form> -->

        <!-- type="number" min="0" -->
        <div class="custom-row">
          <div class="form-group">
            <label>Price 💰</label>
            <input required name="listing[price]" type="number" min="0" class="form-control" placeholder="Enter price">
            <div class="valid-feedback">
              Price looks good 💸
            </div>
            <div class="invalid-feedback">
              Price must be greater than 0.
            </div>
          </div>

          <div class="form-group">
            <label>Country 🌍</label>
            <input required name="listing[country]" type="text" class="form-control" placeholder="Enter country">
            <div class="valid-feedback">
              Country selected ✔
            </div>
            <div class="invalid-feedback">
              Please enter country name.
            </div>

          </div>
        </div>

        <div class="form-group">
          <label>Location 📍</label>
          <input required name="listing[location]" type="text" class="form-control" placeholder="Enter location">
          <div class="valid-feedback">
            Location updated successfully 📍
          </div>
          <div class="invalid-feedback">
            Please enter location.
          </div>
          <div class="form-group">
            <label>Category 🏷️</label>
            <select name="listing[category]" class="form-control" required>
              <option value="">Select category</option>
              <option value="Trending">Trending</option>
              <option value="Rooms">Rooms</option>
              <option value="Iconic City">Iconic City</option>
              <option value="Mountains">Mountains</option>
              <option value="Castles">Castles</option>
              <option value="Amazing Pools">Amazing Pools</option>
              <option value="Arctic">Arctic</option>
              <option value="Farms">Farms</option>
              <option value="Camping">Camping</option>
              <option value="Beach">Beach</option>
              <option value="Treehouse">Treehouse</option>
              <option value="Camped">Camped</option>
              <option value="Hotel">Hotel</option>
              <option value="Apartment">Apartment</option>
              <option value="Sunset">Sunset</option>
              <option value="Parking">Parking</option>
              <option value="Wishlist">Wishlist</option>
              <option value="Kitchen">Kitchen</option>
              <option value="Location">Location</option>
            </select>
            <div class="valid-feedback">
              Category selected successfully ✅
            </div>
            <div class="invalid-feedback">
              Please select a category.
            </div>
          </div>
        </div>

        <button class="btn-add" type="submit">
          ADD LISTING
        </button>

      </form>
    </div>
  </div>
  <!-- <script src="/Js/script.js"></script> -->